.c2{
    display:flex;
    flex-wrap: wrap;
    border: 1px solid;
    width: 500px;
    margin: 100px auto;

}
.bl{
    width: 100px;
    height: 100px;

}
.b{
    background-color: black;
    color: white;
}